@{
    ViewData["Title"] = "Delete";
}
@model Movies

<h2>Are you sre you want to delete</h2>
<h3>@Model.Title</h3>
<form method="post">

    <input type="hidden" asp-for="MovieId"/>

    <button type="submit" class="btn btn-primary">Delete</button>
    <a class="btn btn-primary" asp-controller="Home" asp-action="DisplayMovie">Cancel</a>
</form>