@{
    ViewData["Title"] = "GetToKnowJoel";
}

<h1>GetToKnowJoel</h1>

<ul>
    <li><a href="https://www.qwcomedy.com/" target="blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="blank">Baconsale</a></li>
</ul>
<a href="https://baconsale.com/" target="blank"><img src="/img/BaconsaleKate.jpg" alt="Picture of the bacon sale team" style="height: 500px"/></a>